*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,#457B9D, #1D3557);
    color: white;
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
}

header{
    display: flex;
    flex-flow: column;
    font-size: 1.5rem;
}

p{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 1rem;
}

header, form{
    min-height: 20vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 1rem;
    border: 1rem;
    border-radius: 5px;
    background: white;
}

form button{
    margin-left: 0.3rem;
    color: #457B9D;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    /* border: 1rem;
    border: black; */
}

form button:hover{
    background: #457B9D;
    color: white;
}


.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    border: 1px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.todo-item{
    padding: 0rem 0.5rem;
}

.trash-btn, .complete-btn{
    background-color: #E63946;
    color: white;
    border: 1px;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    margin-right: 1vmin;
    background-color: #A8DADC;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
    text-align: end;
    transition: all 0.5s ease;
}

.fall{
    transform: translateY(8rem);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    font-family: 'Rubik', sans-serif;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #1D3557;
    width: 10rem;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #1D3557;
    top: 0;
    right: 0;
    padding: 0.4rem;
    border: 1px;
    margin-left: 1vmin;
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background-color: white;
    color: #1D3557;
}
